<div class="container">











  <h1 class="huge-text text-center"><%= link_to "Back", root_path %></h1>
</div>

<div class="row macro-footer text-center">
  <div class="col-xs-3">
    <%= @calories %>kcal
  </div>
  <div class="col-xs-3">
    P: <%= @protein %>gr
  </div>
  <div class="col-xs-3">
    C: <%= @carbs %>gr
  </div>
  <div class="col-xs-3">
    F: <%= @fat %>gr
  </div>
</div>
