<div class="container">
  <div class="form-inline">
      <%= form_tag search_food_path do %>
      <div class="form-group">
          <%= text_field_tag(:query, "", class: "form-control", placeholder: "Enter Food Name") %>
      </div>
      <div class="form-group">
          <%= submit_tag("Search", class: "btn btn-default") %>
      </div>
      <% end %>
  </div>

<br>
<br>

  <div class="well">
    <strong>
      <%= @food_brand %> <br>
      <%= @food_name %> <br>
    </strong>
    Serving: <%= @food_serving %> (<%= @food_weight %> <%= @food_weight_unit %>) <br>
    Calories: <%= @food_calories %>kcal <br>
    Protein: <%= @food_protein %> g <br>
    Carbs: <%= @food_carbohydrate %> g <br>
    Fat: <%= @food_fat %> g <br>


  </div>
</div>
