<div class="container">
  <br> <br>
  <%= link_to new_user_path do %>
  <div class="row">
      <div class="col-sm-8 col-sm-offset-2 margin30">
          <div class="service-box wow animated fadeIn" data-wow-delay="0.1s">
              <i class="fa fa-calculator" aria-hidden="true"></i>
              <h4>Guest Nutrition Calculator</h4>
              <p>
                  Sign up (it's free!) and you won't have to enter this stuff again.
                  Just Tap here to get started.
              </p>
          </div>
      </div>
      <% end %>
    </div>
    <% if @calories != 0 %>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 margin30">
            <div class="service-box wow animated fadeIn" data-wow-delay="0.15s">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                <p>
                  <h3>Your Nutrition Goals</h3>
                  <h4><%= @calories.round() %> Calories
                  <h4> <%= @protein %>g Protein
                  <h4> <%= @carbs %>g Carbs
                  <h4> <%= @fat %>g Fat
                </p>
                <%=link_to new_user_path do %>
                <div class="btn btn-lg btn-block btn-success">
                  You should sign up!
                </div>
                <% end %>
  <p>
  </p>
            </div>
        </div>
    </div>
    <% end %>
    <div class="row wow animated fadeIn" data-wow-delay="0.2s">
      <div class="container">
          <div class="col-sm-8 col-sm-offset-2">
                  <%= form_tag url: guest_macros_path do %>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-xs-5">
                              <%= radio_button_tag(:gender, "M", true, :checked => (params[:gender] == "M"), class: "radio-inline") %>
                              <%= label_tag(:gender, "Male") %>
                          </div>
                          <div class="col-xs-5">
                              <%= radio_button_tag(:gender, "F", false, :checked => (params[:gender] == "F") , class: "radio-inline") %>
                              <%= label_tag(:gender, "Female") %>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="form-group">
                                  <%= label_tag :age %>
                                  <%= number_field_tag :age, params[:age], class: "form-control"%>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <div class="form-group">
                                  <%= label_tag "Weight in lbs" %>
                                  <%= text_field_tag :weight, params[:weight], :step => 0.1, class: "form-control" %>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-xs-4">
                              <div class="form-group">
                                  <%= label_tag :height, "Height" %>
                                  <%= select_tag   :height, options_for_select((54..84).to_a
                                  .map { |inch| { id: inch.to_s, name: (inch/12).floor.to_s+'\''+(inch%12).to_s+'"'}}
                                  .collect{ |p| [p[:name], p[:id].to_i]}, selected = params[:height]), { class:'form-control' } %>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12">
                        <%= label_tag :weight_rate, "Weight Goal" %>
                        <%= select_tag :weight_rate, options_for_select([
                          ["Maintain Weight" , "Maintain"], ["Lose Weight" , "Lose"],
                          ["Gain Weight", "Gain"]], selected = params[:weight_rate]),
                        class: "form-control" %>
                      </div>
                    </div>
                  </div>

                  <hr class="form-divider">

                  <div class="form-group">
                      <div class="row text-center">
                          <strong>Workout Scheme</strong>
                      </div>
                      <div class="row text-center">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <%= label_tag :workout_count, "Days per week" %>
                                <div class="col-xs-12">
                                  <%= select_tag :workout_count, options_for_select((0..7).step(1), selected = params[:workout_count]), class: "form-control" %>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <div class="form-group">
                                <%= label_tag :workout_intensity, "How Intense" %>
                                <div class="col-xs-12">
                                  <%= select_tag :workout_intensity, options_for_select([
                                    ["Quick & Easy" , 0.015], ["Some Effort Required." , 0.0325],
                                    ["Tough, But I Can Push Through!" , 0.05], ["I Might Die Today..." , 0.0875],
                                    ["Hard Workouts Twice a Day", 0.12]], selected = params[:workout_intensity]), class: "form-control" %>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>


                  <div class="form-group text-center">
                      <strong>Exercise Type</strong>
                      <div class="row">
                          <div class="col-xs-4">
                              <%= radio_button_tag(:workout_type, "L", true, :checked => (params[:workout_type] == "L"), class: "radio-inline") %>
                              <%= label_tag(:workout_type, "Lifting")%>
                          </div>
                          <div class="col-xs-4">
                              <%= radio_button_tag(:workout_type, "C", false, :checked => (params[:workout_type] == "C"), class: "radio-inline") %>
                              <%= label_tag(:workout_type, "Cardio") %>
                          </div>
                          <div class="col-xs-4">
                              <%= radio_button_tag(:workout_type, "M", false, :checked => (params[:workout_type] == "M"), class: "radio-inline") %>
                              <%= label_tag(:workout_type, "Mixed") %>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= submit_tag "Calculate Macros!", class:'btn btn-danger btn-lg btn-block' %>
                  </div>
                  <% end %>
        </div>
      </div>
    </div>
    <p></p>
    <p></p>
</div>
