<div class="container">
  <br><br>
  <div class="text-center">
    <div class="col-sm-6 col-sm-offset-3 margin30">
        <div class="service-box wow animated fadeIn" data-wow-delay="0.1s">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <% if @user.protein != nil %>
            <br>

            <p>
                      <h3 class="workout-scheme">YOUR NUTRITION GOALS</h3><br>
                      <h3><small> <%= @user.calories %> Calories<br>
                       <%= @user.protein %>g Protein <br>
                       <%= @user.carbs %>g Carbs <br>
                       <%= @user.fat %>g Fat</h3></small>


                    <% else %>

                      <div class="text-center">
                        <h2>
                          You don't have Macros yet<br> <br>
                          Let's get you some!
                        </h2>
                        <br>
                        <%= link_to "Okay!", edit_macros_path, class: "btn, btn-lg btn-primary" %>
                      </div>

                    <% end %>
              </p>
        </div>
    </div><!--service column-->
    <div class="row">
      <div class="col-xs-12 wow animated fadeIn" data-wow-delay="0.2s">
        <%= link_to "Recalculate", edit_macros_path, class: "btn, btn-lg btn-danger" %>
      </div>
    </div>
    <p></p>
  </div>

</div>

                      <!-- Notch System Coming Soon -->

                      <!-- <br>
                      Notch: <br>
                       <%= link_to notch_down_path, method: "patch" do %>
                       <div class="notch-buttons">
                          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                       </div>

                         <% end %>

                       <%= (@user.notch * 10).to_i %>

                      <%= link_to notch_up_path, method: "patch" do %>
                      <i class="fa fa-arrow-circle-up notch-buttons" aria-hidden="true"></i>
                      <% end %>
                      <br>
                      <br> -->
