<div class="container">
  <br><br>
  <div class="text-center">
    <div class="col-sm-6 col-sm-offset-3 margin30">
        <div class="service-box wow animated fadeIn" data-wow-delay="0.1s">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <% if @user.protein != nil %>
              <br>
              <p>
              <h2 class="workout-scheme">Daily Nutrition Goal:</h2><br>
              <h3> <%= @user.calories %> Calories<br>
              <h3> <%= @user.protein %>g Protein <br>
              <h3> <%= @user.carbs %>g Carbs <br>
              <h3> <%= @user.fat %>g Fat</h3>
               <hr>
              </p>
               <h2>Simplified:</h2>
               <h3> <%= ((@user.protein % 25) <= 13) ? (@user.protein / 25) : (@user.protein / 25) -1 %> Protein Portions
               <h3> <%= ((@user.carbs % 25) <= 13) ? (@user.carbs / 25) : (@user.carbs / 25) -1 %> Carb Portions
                 <p></p>
               <%= link_to about_path do %>
               <div class="btn btn-danger">
                 How do I do this?
               </div>
               <% end %>

                <% else %>

                  <div class="text-center">
                    <h2>
                      You don't have Macros yet<br> <br>
                      Let's get you some!
                    </h2>
                    <br>
                    <%= link_to "Okay!", edit_macros_path, class: "btn, btn-lg btn-primary" %>
                  </div>

                <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center">
        <%= link_to "Recalculate", edit_macros_path, class: "btn, btn-lg btn-danger" %>
            <p></p>
    </div>

    </div>



</div>

                      <!-- <br>
                      Notch: <br>
                       <%= link_to notch_down_path, method: "patch" do %>
                       <div class="notch-buttons">
                          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                       </div>

                         <% end %>

                       <%= (@user.notch * 10).to_i %>

                      <%= link_to notch_up_path, method: "patch" do %>
                      <i class="fa fa-arrow-circle-up notch-buttons" aria-hidden="true"></i>
                      <% end %>
                      <br>
                      <br> -->
