<div class="container">

<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @user.errors.full_messages.each do |msg| %>
     <%= msg %> <br>
     <% end %>
  </div>
<% end %>
<br>
<div class="row center-title signup-quote">
    <div class="col-md-8 col-md-offset-2 clearfix text-center wow animated fadeInUp">
        <h2>Commit and Succeed</h2>
    </div>
</div><!--service column-->
<div class="row wow animated fadeIn" data-wow-delay="0.2s">
  <div class="col-sm-8 col-sm-offset-2 margin30">
    <%= form_for @user, url: create_user_path do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Retype Password" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit class:"btn btn-lg btn-block btn-danger" %>
      </div>
      <% end %>
    </div>
</div>

</div>
