<div class="container">
      Username:
      <%= @user.username %> <br>
      Email:
      <%= @user.email %> <br>
      Gender:
      <%= @user.gender %> <br>
      Age:
      <%= @user.age %> years. <br>
      Height:
      <%= @user.height_formatted %> <br>
      Weight:
      <%= @user.weight %> lbs. <br>
      <br>
      <%= link_to "EDIT", edit_profile_path, class: "btn, btn-lg btn-primary" %>

</div>
