<br>
  <div class="container">
      <div class="row center-title">
        <br>
          <div class="col-md-8 col-md-offset-2 clearfix text-center wow animated fadeInUp">
              <h2>Eating well doesn't have to be hard.</h2>
              <p>
                  Our tools and guidelines will make reaching your weight goals easy.<br>
                  Follow the rules, do the work, and you'll get there, <strong>guaranteed</strong>.

              </p>
          </div>
      </div><!--service column-->

      <div class="row">
          <% if @current_user %>
          <%= link_to macros_path do %>
          <div class="col-sm-6 col-md-3 margin30">
              <div class="service-box wow animated fadeIn home-box-size" data-wow-delay="0.1s">
                  <i class="fa fa-calculator" aria-hidden="true"></i>
                  <h4>My Nutrition</h4>
                  <p>
                      Calculate or Adjust your nutritional goals here.
                  </p>
              </div>
          </div><!--service column-->
          <% end %>

          <% else %>
          <%= link_to guest_macros_path do %>
          <div class="col-sm-6 col-md-3 margin30">
              <div class="service-box wow animated fadeIn home-box-size" data-wow-delay="0.1s">
                  <i class="fa fa-calculator" aria-hidden="true"></i>
                  <h4>Nutrition Calculator</h4>
                  <p>
                      The simplest yet most advanced online nutrition calculator will
                      tell you exactly what your macronutrient goals are;
                      whether you want to lose weight or build lean mass.
                  </p>
              </div>
          </div><!--service column-->
          <% end %>
          <% end %>
          <%= link_to about_path do %>
          <div class="col-sm-6 col-md-3 margin30">
              <div class="service-box wow animated fadeIn home-box-size" data-wow-delay="0.2s">
                  <i class="fa fa-cutlery" aria-hidden="true"></i>
                  <h4>How to Meal Prep</h4>
                  <p>
                      Our Meal Prep system and guidelines makes it simple and easy to prepare for the week.
                      <br>
                      No fancy cooking skills required.
                  </p>
              </div>
          </div><!--service column-->
          <% end %>
          <%= link_to about_path do %>
          <div class="col-sm-6 col-md-3 margin30">
              <div class="service-box wow animated fadeIn home-box-size" data-wow-delay="0.3s">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                  <h4>How to Count Macros</h4>
                  <p>
                    Flexible Dieting explained, with some suggestions and tips on how make adjustments and stay on track.
              </div>
          </div><!--service column-->
          <% end %>
          <%= link_to coaching_path do %>
          <div class="col-sm-6 col-md-3 margin30">
              <div class="service-box wow animated fadeIn home-box-size" data-wow-delay="0.4s">
                  <i class="fa fa-trophy" aria-hidden="true"></i>
                  <h4>1 on 1 Coaching</h4>
                  <p>
                      Want to lose/gain some weight and so far you haven't had success? <br> Need to make weight for a competition and still perform at your best? <br><h5><strong> I can help.</strong></h5>
                  </p>
              </div>
          </div><!--service column-->
          <% end %>
      </div>
