<div class="container">
    <div class="row">
        <div class="well well-lg guest-macro-form">
                <%= form_tag do %>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-5">
                            <%= radio_button_tag(:gender, "M", true, :checked => (params[:gender] == "M"), class: "radio-inline") %>
                            <%= label_tag(:gender, "Male") %>
                        </div>
                        <div class="col-xs-5">
                            <%= radio_button_tag(:gender, "F", false, :checked => (params[:gender] == "F") , class: "radio-inline") %>
                            <%= label_tag(:gender, "Female") %>
                        </div>
                    </div>
                </div>

                <div class="form-inline">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-5">
                            <div class="form-group">
                                <%= label_tag :age %>
                                <%= number_field_tag :age, params[:age], class: "form-control"%>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <%= label_tag "Weight lbs" %>
                                <%= text_field_tag :weight, params[:weight], :step => 0.1, class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-inline">
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-4">
                            <div class="form-group">
                                <%= label_tag :height_ft, "Height ft." %>
                                <%= select_tag :height_ft, options_for_select((4..7).step(1), selected = params[:height_ft]), class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <%= label_tag :height_in, "in." %>
                                <%= select_tag :height_in, options_for_select((0..11).step(1), selected = params[:height_in]), class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-inline">
                  <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                      <%= label_tag :weight_rate, "Weight Goal" %>
                      <%= select_tag :weight_rate, options_for_select([
                        ["Maintain Weight" , 0], ["Lose 1.5 lbs every week" , -1.5],
                        ["Lose 1 lb every week" , -1], ["Lose 0.5 lbs every week" , -0.5],
                        ["Gain 0.5 lbs every week", 0.65]], selected = params[:weight_rate]),
                      class: "form-control" %>
                    </div>
                  </div>
                </div>

                <br>
                <div class="form-group">
                    <div class="row text-center">
                        <strong>Workout Scheme</strong>
                    </div>
                    <div class="row text-center">
                      <div class="col-xs-6">
                          <div class="form-group">
                              <%= label_tag :workout_count, "Days per week" %>
                              <div class="col-xs-offset-3 col-xs-5">
                                <%= select_tag :workout_count, options_for_select((0..7).step(1), selected = params[:workout_count]), class: "form-control" %>
                              </div>
                          </div>
                      </div>

                      <div class="col-xs-6">
                          <div class="form-group">
                              <%= label_tag :workout_intensity, "How Intense" %>
                              <div class="col-xs-offset-3 col-xs-6">
                                <%= select_tag :workout_intensity, options_for_select([
                                  ["Quick & Easy!" , 0.015], ["Some Effort Required." , 0.0325],
                                  ["Tough, But I Can Push Through!" , 0.05], ["I Might Die Today..." , 0.0875],
                                  ["Hard Workouts Twice a Day", 0.12]], selected = params[:workout_intensity]), class: "form-control" %>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>


                <div class="form-group text-center">
                    <strong>Exercise Type</strong>
                    <div class="row">
                        <div class="col-xs-4">
                            <%= radio_button_tag(:training_type, "L", true, :checked => (params[:training_type] == "L"), class: "radio-inline") %>
                            <%= label_tag(:training_type, "Lifting")%>
                        </div>
                        <div class="col-xs-4">
                            <%= radio_button_tag(:training_type, "C", false, :checked => (params[:training_type] == "C"), class: "radio-inline") %>
                            <%= label_tag(:training_type, "Cardio") %>
                        </div>
                        <div class="col-xs-4">
                            <%= radio_button_tag(:training_type, "M", false, :checked => (params[:training_type] == "M"), class: "radio-inline") %>
                            <%= label_tag(:training_type, "Mixed") %>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <%= submit_tag "Calculate Macros!", class:'btn btn-primary btn-lg btn-block' %>
                </div>
                <% end %>

            </div>
    </div>

    <div class="row">
        <div class="guest-macro-box">
            <div class="well text-center">
              <strong>
                Calories:
                <%= @calories %>
                kcal<br>
                <br>Protein:
                <%= @protein %>
                gr<br>
                <br>Carbs:
                <%= @carbs %>
                gr<br>
                <br>Fat:
                <%= @fat %>
                gr
              </strong>
                <br>
                <br>
              <%= link_to meal_plan_path do %>
              <div class="btn btn-lg btn-success btn-block">
                Make a meal plan!
              </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
