<div class="macro-footer text-center">
  <div class="row">
    <div class="col-xs-3">
        Remaining:
    </div>
    <div class="col-xs-2">
        <%= @current_user.calories - @mealplan.kcals %>kcal
    </div>
    <div class="col-xs-2">
        P:
        <%= @current_user.protein - @mealplan.proteins %>g
    </div>
    <div class="col-xs-2">
        C:
        <%= @current_user.carbs - @mealplan.carbs %>g
    </div>
    <div class="col-xs-2">
        F:
        <%= @current_user.fat - @mealplan.fats %>g
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
        Goal:
    </div>
    <div class="col-xs-2">
        <%= @current_user.calories %>kcal
    </div>
    <div class="col-xs-2">
        P:
        <%= @current_user.protein %>g
    </div>
    <div class="col-xs-2">
        C:
        <%= @current_user.carbs %>g
    </div>
    <div class="col-xs-2">
        F:
        <%= @current_user.fat %>g
    </div>
  </div>

</div>
