<div class="container">

    <div class="row">

      <% @mealplan.meals.each do |meal|%>
        <div class="col-xs-12">
            <strong><%= meal.recipe.name %> x <%= meal.quantity %><br></strong>
            <%= meal.recipe.kcals * meal.quantity %>kcal <br>
            <%= meal.recipe.proteins * meal.quantity %>g Protein <br>
            <%= meal.recipe.carbs * meal.quantity %>g Carbs <br>
            <%= meal.recipe.fats * meal.quantity %>g Fat
              <br>
              <br>
        </div>
      <% end %>
    </div>

  <div class="row">
    <div class="col-xs-4">
      <%= link_to edit_mealplan_path(id: @mealplan.id) do %>
        <div class="btn btn-block btn-warning">
          Edit
        </div>
      <% end %>
    </div>
  </div>




</div>



<div class="macro-footer text-center">
  <div class="row text-center">
  <strong>Remaining</strong>
  </div>
  <div class="row">
    <div class="col-xs-3">
        <%= @current_user.calories - @mealplan.kcals %>kcal
    </div>
    <div class="col-xs-3">
        P:
        <%= @current_user.protein - @mealplan.proteins %>g
    </div>
    <div class="col-xs-3">
        C:
        <%= @current_user.carbs - @mealplan.carbs %>g
    </div>
    <div class="col-xs-3">
        F:
        <%= @current_user.fat - @mealplan.fats %>g
    </div>
  </div>
</div>
  <div class="macro-footer-2 text-center">
    <div class="row text-center">
    <strong>Goal</strong>
    </div>
    <div class="row">
      <div class="col-xs-3">
          <%= @current_user.calories %>kcal
      </div>
      <div class="col-xs-3">
          P:
          <%= @current_user.protein %>g
      </div>
      <div class="col-xs-3">
          C:
          <%= @current_user.carbs %>g
      </div>
      <div class="col-xs-3">
          F:
          <%= @current_user.fat %>g
      </div>
    </div>
  </div>
