<div class="container">
  <br>
  <div class="col-sm-10 col-sm-offset-1 margin30 text-center">
    <h2 class="mealplan-title"> <%= @mealplan.name %> </h2>
  </div>
  <br>

  <div class="row">
      <% @mealplan.meals.each do |meal|%>
    <div class="col-sm-6 col-sm-offset-6 margin30 meals">
      <strong class="meal-title">
        <%= link_to meal.recipe.name, meal_path(id: meal.id)%>
      </strong>
      <span class="meal-body">
        <% meal.recipe.recipeparts.each do |part| %>
        <br>
          <%= pluralize(number_to_human((part.amount * part.ingredient.serving_amount) * meal.quantity), part.ingredient.serving_name) %> <%= part.ingredient.name %>
        <% end %>
      </span>
      <hr>
    </div>

    <% end %>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-6">
      <%= link_to mealplans_path do %>
      <div class="btn btn-success btn-block">
        Back
      </div>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to edit_mealplan_path(id: @mealplan.id) do %>
      <div class="btn btn-success btn-block button-bottom-margin">
        Edit
      </div>
      <% end %>
    </div>
  </div>
</div>
