<!DOCTYPE html>
<html>
  <head>
    <title>MacroManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row header-main">
        <h1 class="text-center">
          <strong>DO THE MACROS!</strong></h1>
    </div>

    <div class="container">
  <% if notice %>
    <div class="alert alert-danger text-center" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger text-center" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>

    <%= yield %>
  </body>
</html>
