<!DOCTYPE html>
<html>
  <head>
    <title>MacroManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row header-main text-center">
      <div class="row">
        <div class="col-xs-4">
          <%= link_to "Calculator", root_path %>
        </div>
        <div class="col-xs-4">
          <%= link_to "Food Search", food_list_path %>
        </div>
        <div class="col-xs-4">
          <%= link_to "Meal Planner", meal_plan_path %>
        </div>
      </div>
    </div>

    <div class="container">
  <% if notice %>
    <div class="alert alert-danger text-center" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger text-center" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>

    <%= yield %>
  </body>
</html>
